.container {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(253, 253, 251); 
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
 
}

header {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input {
width:100%;
outline: none;
font-size: 18px;
border: none;
border-bottom: 1px rgba(151, 5, 235, 0.938) solid;
margin-bottom: 5%;
border-color: rgb(151, 5, 235);

}

.input:hover {
    background-color: rgba(205, 132, 247, 0.534);
}

p {
    font-weight: bolder;
}

body{
    background-image: linear-gradient( to left, rgba(151, 5, 235, 0.938) 48%,rgb(253, 253, 251));
    font-family: cali;
   }

fieldset {
    border: 3px solid rgb(151, 5, 235)
}

legend { 
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(151, 5, 235, 0.938);
    color: white;
    padding: 4px;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#submeter {
    width: 50%;
    padding: 7px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 7px;
    margin-left: 25%;
    background-color: rgba(151, 5, 235, 0.938);
    text-align: center
     
}


#submeter:hover {
    background-color: rgba(151, 5, 235, 0.493);
}
    
.footer {
   
    position: absolute;
    top: 117%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%); 
    background-color: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
   
}